@namespace Components.Dialogs
@using Microsoft.AspNetCore.Components.Forms
@using Models;

<div class="dialog-container">
    <h3 class="dialog-title">Add Crop for @Date.ToShortDateString()</h3>
    <EditForm Model="@PlannedCrop" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
</div>

@code {
    [Parameter] public DateTime Date { get; set; }
    [Parameter] public EventCallback<PlannedCrop?> OnSubmit { get; set; }

    private PlannedCrop PlannedCrop = new PlannedCrop();

    private async Task OnValidSubmit()
    {
        PlannedCrop.PlantingDate = DateTime.Now;
        await OnSubmit.InvokeAsync(PlannedCrop);
    }

    private void OnInvalidSubmit(EditContext context)
    {
        // Handle invalid submission if needed
    }
    private void CloseDialog()
    {
        // Logic to close the dialog if needed
    }
}